<template name="forgotPassword">
  {{> sAlert template="sAlertCustom"}}
  <form>
    <div class="list list-inset manual-entry">
      <div class="row">
        <div class="col col-center text-center">
          <span class="" style="font-weight:bolder;">
            Enter your email address below.
          </span>
        </div>
      </div>

      <label class="item item-input" style="margin-bottom:15px;">
        <input type="email" name="email" placeholder="Email">
      </label>
      {{> userActionButtons primaryActionLabel="Send Email" secondaryActionLabel="Back"}}
    </div>
  </form>
</template>
