<template name="resetPassword">
  {{> sAlert template="sAlertCustom"}}
  <form>
    <div class="list list-inset manual-entry">
      <label class="item item-input" style="margin-bottom:15px;">
        <input type="password" name="password" placeholder="Set New Password">
      </label>
    </div>
    <div class="row padding" style="padding-top:10px;">
      <button type="submit" class="button button-block another manual-entry primary-action">
        Set New Password
      </button>
    </div>
  </form>
</template>
