<template name="settings">
  {{> menuBarStatic}}

  <div class="has-tabs" style="margin-bottom: 50px;">
    {{> sAlert template="sAlertCustom"}}

    <div class="list settingsList">
      <a class="item item-icon-left" href="{{pathFor 'tutorial'}}">
        <i class="icon material-icons">&#xe88e;</i> Tutorial
      </a>
      <a class="item item-icon-left" href="{{pathFor 'spoilageQuiz'}}">
        <i class="icon material-icons">&#xe872;</i> Spoilage Quiz
      </a>
      <a class="item item-icon-left" href="{{pathFor 'diets'}}">
        <i class="icon material-icons">&#xe561;</i> Food Preferences
      </a>
      <a class="item item-icon-left" href="{{pathFor 'integrations'}}">
        <i class="icon material-icons">&#xe870;</i> Connected Cards
      </a>
      <a class="item item-icon-left" href="{{pathFor 'accountInfo'}}">
        <i class="icon material-icons">&#xe7fd;</i> Account
      </a>
      <a class="item item-icon-left" href="{{pathFor 'feedback'}}">
        <i class="icon material-icons">&#xe87f;</i> Feedback/Help
      </a>

      {{#if isAdmin}}
        <div class="item item-divider">Admin Only</div>

        <a class="item item-icon-left" href="{{pathFor 'adminViewRecipes'}}">
          <i class="icon fa fa-lock"></i> Approve Recipes
        </a>
        <a class="item item-icon-left" href="{{pathFor 'imageCheck'}}">
          <i class="icon fa fa-lock"></i> Approve Recipe Images
        </a>
        <a class="item item-icon-left" href="{{pathFor 'recipesDiet'}}">
          <i class="icon fa fa-lock"></i> Recipes with Diets
        </a>
        <a class="item item-icon-left" href="{{pathFor 'pushMenu'}}">
          <i class="icon fa fa-lock"></i> Generate Push
        </a>
        <a class="item item-icon-left" href="{{pathFor 'updateResolvedIngredients'}}">
          <i class="icon fa fa-lock"></i> Update Integration Ingredients
        </a>
        <a class="item item-icon-left" href="{{pathFor 'mapIngredients'}}">
          <i class="icon fa fa-lock"></i> Update Recipe Ingredients
        </a>
        <a class="item item-icon-left" href="{{pathFor 'parsedReceipts'}}">
          <i class="icon fa fa-lock"></i> Parsed Receipts
        </a>
        <a class="item item-icon-left" href="{{pathFor 'updateSpoilageTimes'}}">
          <i class="icon fa fa-lock"></i> Update Spoilage
        </a>
        <a class="item item-icon-left" href="{{pathFor 'viewUsers'}}">
          <i class="icon fa fa-lock"></i> View All Users
        </a>
      {{/if}}
    </div>
    <div class="metric-card">
        <h4 class="metric-bold-font"> Your Metrics <br/> </h4>
        <div class="metric-section">
          <h3 class="metric-number-font {{tripleDigits}}"> {{numItems}}  </h3>
          <h4 class="metric-font"> Total items <br/> added </h4>
        </div>
        <div class="metric-section">
          <h3 class="metric-number-font {{tripleDigitsReceipt}}"> {{numReceipts}} </h3>
          <h4 class="metric-font"> Items from <br/> receipts </h4>
        </div>
        <div class="metric-section">
          <h3 class="metric-number-font"> {{numIntegrations}} </h3>
          <h4 class="metric-font"> Items from <br/> integrations </h4>
        </div>
    </div>
    <div class="metric-card" style="margin-bottom: 80px; height: 500px;">
      <h4 class="metric-bold-font"> Your Diet <br/> </h4>
      <div class="ct-chart ct-perfect-fourth"></div>
      <div class="metric-section" style="margin-top: 15px">
        <div class="metric-key-circle" style="background-color: #d70206"> </div>
        <h4 class="metric-key-font"> Meat </h4>
      </div>
      <div class="metric-section" style="margin-top: 15px">
        <div class="metric-key-circle" style="background-color: #f4c63d"> </div>
        <h4 class="metric-key-font"> Vegetables </h4>
      </div>
      <div class="metric-section" style="margin-top: 15px">
        <div class="metric-key-circle" style="background-color: #d17905"> </div>
        <h4 class="metric-key-font"> Fruit </h4>
      </div>
      <div class="metric-section" style="margin-top: 15px">
        <div class="metric-key-circle" style="background-color: #59922b"> </div>
        <h4 class="metric-key-font"> Grains </h4>
      </div>
      <div class="metric-section" style="margin-top: 15px">
        <div class="metric-key-circle" style="background-color: #0544d3"> </div>
        <h4 class="metric-key-font"> Dairy </h4>
      </div>
    </div>
  </div>
</template>
