<template name="layout">
  <div class="bar bar-header bar-light" style="border-top: none; border-bottom: none; background-image: none; {{notStove}}">

    {{#if notEditingFridge}}
      <h1 class="title">{{title}}</h1>
    {{/if}}
    {{> menuBarStatic}}
  </div>
  {{#if stove}}
    {{> stovetabs}}
  {{/if}}

  <div class="view">
    <div class="scroll-content ionic-scroll">
      <div class="content has-header overflow-scroll {{darkBackground}} {{hasSubheader stove}}">
        {{> Template.dynamic template=main data=params}}
      </div>
    </div>
  </div>
  {{> fsFooter}}
</template>

<template name="loading">
  {{> spinner}}
</template>

<template name="stovetabs">
  <div class="bar bar-subheader bar-light" style="border-top: none; border-bottom: none;">
    <h2 class="left-tab {{active 'favorites'}}">Faves</h2>
    <h2 class="center-tab {{active 'stove'}}">Recipes</h2>
    <h2 class="right-tab {{active 'tips'}}">Tips</h2>
  </div>
</template>
