<template name="fsFooter">
  {{#if delete_button_active}}
    <div id="overlay"></div>
    <div id="delete-button-overlay" class="background-light-background">
      <h3 class="main-color" style="padding-bottom: 10px;">Remove Item</h3>
      Reason?

      <button id='eatenByUser' type="submit" class="deleteButtonOption button button-block another manual-entry">
        <i class="icon material-icons delete-button-option-icon">&#xE556;</i>
        <div class="delete-button-text">In Ma' Belly</div>
      </button>

      <button id='thrownOutByUser' type="submit" class="deleteButtonOption button button-block another manual-entry">
        <i class="icon material-icons delete-button-option-icon">&#xE872;</i>
        <div class="delete-button-text">Spoiled</div>
      </button>

      <button id="delete-cancel" type="submit" class="deleteButtonOption button button-block button-outline manual-entry">
        Cancel
      </button>
    </div>
  {{/if}}

  {{#if action_button_active}}
    <div id="overlay"></div>
    <div id="action-button-overlay" style="width:50%">
      <div class="list" style="padding-bottom: 10px;">
        <a class="item item-icon-left overlay-item" href="{{pathFor 'addStore'}}">
          <i class="icon material-icons secondary-action-button">&#xe870;</i> Store
          <i class="material-icons"></i>
        </a>
        <a id="scan_receipt" class="item item-icon-left overlay-item" href="">
          <i class="icon material-icons secondary-action-button">&#xe3b0;</i> Receipt
        </a>
        <a id="manual_entry" class="item item-icon-left overlay-item" href="">
          <i class="icon material-icons secondary-action-button">&#xe925;</i> Manual
        </a>
      </div>
    </div>
  {{/if}}
  <div class="tabs" style="position: fixed; z-index: 11; border-top: none; box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);">
    {{#if fridge}}
      <a class="tab-item active" href="{{pathFor 'fridge'}}">
        Fridge
      </a>
    {{else}}
      <a class="tab-item" href="{{pathFor 'fridge'}}">
        Fridge
      </a>
    {{/if}}
    <div class="add-item active">
      <a class="tab-item active">
        {{#if action_button_active}}
          <i id="primary-action-button" class="icon material-icons md-light action-button">&#xe14c;</i>
        {{else}}
          <i id="primary-action-button" class="icon material-icons md-light action-button" data-action="showAddActionSheet">&#xe145;</i>
        {{/if}}
      </a>
    </div>
    {{#if stove}}
      <a class="tab-item active" href="{{pathFor 'stove'}}">
        Stove
      </a>
    {{else}}
      <a class="tab-item" href="{{pathFor 'stove'}}">
        Stove
      </a>
    {{/if}}
  </div>
</template>
