<template name="menuBarStatic">
  {{#if stove}}
    {{#if searchBar}}
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search (salad, dinner, etc.)" id="searchInput" autofocus="true">
        </label>
        <button class="button button-clear" id="clearSearch">
          Cancel
        </button>
      </div>
    {{else}}
      <a class="button button-clear" id="searchMenuBar"
         style="position: absolute; top: 5px; right: 50px; bottom: 5px;">
        <i class="material-icons md-30">&#xe8b6;</i>
      </a>
      <a class="button button-clear" id="settings" href="{{pathFor 'settings'}}">
        <i class="material-icons md-30">&#xe8b8;</i>
      </a>
    {{/if}}
  {{/if}}

  {{#if settings}}
    <a class="button button-clear" id="settings" href="{{pathFor 'settings'}}">
      <i class="material-icons md-30">&#xe8b8;</i>
    </a>
  {{/if}}

  {{#if updateSpoilageTimes}}
    {{#if searchBar}}
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search (salad, dinner, etc.)" id="searchInput" autofocus="true">
        </label>
        <button class="button button-clear" id="clearSearch">
          Cancel
        </button>
      </div>
    {{else}}
      <a class="button button-clear" id="searchMenuBar"
         style="position: absolute; top: 5px; right: 50px; bottom: 5px;">
        <i class="material-icons md-30">&#xe8b6;</i>
      </a>
    {{/if}}
  {{/if}}

  {{#if adminViewRecipes}}
    {{#if searchBar}}
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search (salad, dinner, etc.)" id="searchInput" autofocus="true">
        </label>
        <button class="button button-clear" id="clearSearch">
          Cancel
        </button>
      </div>
    {{else}}
      <a class="button button-clear" id="searchMenuBar"
         style="position: absolute; top: 5px; right: 50px; bottom: 5px;">
        <i class="material-icons md-30">&#xe8b6;</i>
      </a>
      <a class="button button-clear" id="settings" href="{{pathFor 'settings'}}">
        <i class="material-icons md-30">&#xe8b8;</i>
      </a>
    {{/if}}
  {{/if}}

  {{#if fridge}}
    {{#if editingFridge}}
      <!-- Escape -->
      <a class="button button-clear" id="editFridgeMulti"
          style="position: absolute; top: 5px; ">
        <i class="material-icons md-30 grey-accent-color">&#xE5CD;</i>
      </a>

      <!-- Delete -->
      <a class="button button-clear" id="deleteFridgeMulti"
         style="position: absolute; top: 5px; right: 90px; bottom: 5px;">
        <i class="material-icons md-30">&#xE872;</i>
      </a>

      <!-- Search for Items -->
      <a class="button button-clear" id="searchStoveMulti"
         style="position: absolute; top: 5px; right: 130px; bottom: 5px;">
        <i class="material-icons md-30">&#xe8b6;</i>
      </a>

      <!-- Freeze -->
      <a class="button button-clear" id="freezeMulti"
         style="position: absolute; top: 5px; right: 170px; bottom: 5px;">
        <i class="material-icons md-30">&#xEB3B;</i>
      </a>

      <!-- Edit Mode Activated -->
      <a class="button button-clear" id="editFridgeMulti"
         style="position: absolute; top: 5px; right: 50px; bottom: 5px;">
        <i class="material-icons md-30 secondary-color">&#xE254;</i>
      </a>

      <!-- Settings -->
      <a class="button button-clear" id="settings" href="{{pathFor 'settings'}}">
        <i class="material-icons md-30">&#xe8b8;</i>
      </a>
    {{else}}
      <a class="button button-clear" id="editFridgeMulti"
         style="position: absolute; top: 5px; right: 50px; bottom: 5px;">
        <i class="material-icons md-30">&#xE254;</i>
      </a>
      <a class="button button-clear" id="settings" href="{{pathFor 'settings'}}">
        <i class="material-icons md-30">&#xe8b8;</i>
      </a>
    {{/if}}
  {{/if}}

  {{#if backToSettings}}
  <a class="button button-clear" id="settings" href="{{back}}" style="left:5px;right:initial;">
    back
  </a>
  {{/if}}

  {{#if backToStove}}
  <a class="button button-clear" id="settings" href="{{pathFor 'stove'}}" style="left:5px;right:initial;">
    back
  </a>
  {{/if}}

  {{#if backToFridge}}
  <a class="button button-clear" id="settings" href="{{back}}" style="left:5px;right:initial;">
    back
  </a>
  {{/if}}

  {{#if backToFridgeManual}}
  <a class="button button-clear updatePendingItems" id="settings" href="{{back}}" style="left:5px;right:initial;">
    back
  </a>
  {{/if}}

  {{#if backToIntegrations}}
  <a class="button button-clear" id="settings" href="{{pathFor 'integrations'}}" style="left:5px;right:initial;">
    back
  </a>
  {{/if}}

  {{#if backToReceiptPending}}
  <a class="button button-clear" id="settings" href="{{pathFor 'receiptPending'}}" style="left:5px;right:initial;">
    back
  </a>
  {{/if}}

  {{#if backToIntegrationPending}}
  <a class="button button-clear" id="settings" href="{{pathFor 'integrationPending'}}" style="left:5px;right:initial;">
    back
  </a>
  {{/if}}

  {{#if backToMapIngredients}}
  <a class="button button-clear" id="settings" href="{{pathFor 'mapIngredients'}}" style="left:5px;right:initial;">
    back
  </a>
  {{/if}}
</template>
