<template name="gamePage">
  <div class="has-tabs">
        <table class="tg">
          <tr>
            <th class="tg-yw4l"> </th>
            <th class="tg-yw4l"> </th>
            <th class="tg-yw4l"> </th>
            <th class="tg-yw4l"> </th>
            <th class="tg-yw4l"> </th>
            <th class="tg-yw4l"> </th>
            <th class="tg-yw4l"> </th>
          </tr>
          <tr>
            <th class="tg-yw4l"> </th>
            <th class="tg-yw4l"> </th>
            <th class="tg-yw4l"> </th>
            <th class="tg-yw4l"> </th>
            <th class="tg-yw4l"> </th>
            <th class="tg-yw4l"> </th>
            <th class="tg-yw4l"> </th>
          </tr>
          <tr>
            <th class="tg-yw4l"> </th>
            <th class="tg-yw4l"> </th>
            <th class="tg-yw4l"> </th>
            <th class="tg-yw4l"> </th>
            <th class="tg-yw4l"> </th>
            <th class="tg-yw4l"> </th>
            <th class="tg-yw4l"> </th>
          </tr>
        </table>

        <div name="Test" >
          <h4 class="text-center" id="1234"> You're a true hero. </h4>
        </div>
      </div>
</template>
