<template name="accountInfo">
  {{> menuBarStatic}}

  <div class="has-tabs">
    {{> sAlert template="sAlertCustom"}}
    <a class="item item-icon-left logoutOption" href="">
      <i class="icon fa fa-sign-out"></i> Logout
    </a>

    <div class="list list-inset manual-entry">
      <label class="item item-input" style="margin-bottom:15px">
        <input type="text" name="email" value="{{email}}">
      </label>
      <label class="item item-input" style="margin-bottom:15px">
        <input type="password" name="currentPassword" placeholder="Current Password">
      </label>
      <label class="item item-input" style="margin-bottom:15px">
        <input type="password" name="newPassword" placeholder="New Password">
      </label>

      {{> stackedButtons buttonOneID="saveInfo" buttonOneText="Save"
                     buttonTwoID="back-button" buttonTwoText="Cancel" buttonTwoOutline=true}}
    </div>

    <div class="row" style="padding-right:5%; margin-bottom: 60px;">
      <div class="col text-center">
        <h4 class="title">Member Since:</h4>
          <h5>{{prettyDate}}</h5>
      </div>
      <div class="col text-center">
        <h4 class="title">Connected Stores:</h4>
        {{#each stores}}
          {{#if image}}
            <img src="{{image}}" style="width:100%;"><br/>
          {{else}}
            <div class="header">
              <h4 class="title">{{name}}</h4>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</template>
